@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans:wght@200&display=swap');
:root{
    --line-border-fill: darkcyan;
    --line-border-empty: lightcoral;
}
*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}
.progress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    transform: translateY(-50%);
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.circle{
    background-color: slategray;
    color: bisque;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
        border-color: var(--line-border-fill);
}

.btn{
    cursor: pointer;
    background-color: var(--line-border-fill);
    color: bisque;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px;
    font-family: inherit;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}